<!doctype html>

<html>
<head>
<!-- Google Analytics Content Experiment code -->
<!-- <script>function utmx_section(){}function utmx(){}(function(){var
// k='82811775-2',d=document,l=d.location,c=d.cookie;
// if(l.search.indexOf('utm_expid='+k)>0)return;
// function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
// indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
// length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
// '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
// '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
// '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
// valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
// '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
// </script><script>utmx('url','A/B');</script> -->
<!-- End of Google Analytics Content Experiment code -->
	<title>Study Buddies</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <link href="css/general.css" rel="stylesheet">
  <link href="css/map.css" rel="stylesheet">    
  <link href="css/login.css" rel="stylesheet">
  <link href="css/home.css" rel="stylesheet">

</head>

<body class="cbp-spmenu-push cbp-spmenu-push-toleft">
  
  {{> navbar this}}
	
  <div class="container">

		<div>
      <h2 class="title">{{title}}</h2>
     <!--  <form id="postGroup" role="form">
        <input type="hidden" name="classname" value="{{title}}"> -->

      {{#if alternate}}
        <a href="/post_group?classname={{title}}"><button type="button" class="btn btn-success createButton" id="createGroup" data.classname = "{{title}}"><span class="glyphicon glyphicon-plus"></span></button></a>
      {{else}}
        <a href="/post_group?classname={{title}}"><button type="button" class="btn btn-default textBtn" id="createGroup" data.classname = "{{title}}">New Group</button></a>
      {{/if}}
        
     <!--  </form> -->
    </div>
    <br>
    <p class="orderLabel"> Order by: </p>
		<div class="btn-group">
  		<button type="button" class="btn btn-default dropdown-toggle" id="dropdownFilter" data-toggle="dropdown">
      {{#if sortByStart}}
    	  Start Time
      {{else}}
        End Time
      {{/if}}
      <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
        <li><a href="/map?name={{title}}&sort=sort_start">Start Time</a></li>
        <li><a href="/map?name={{title}}&sort=sort_end">End Time</a></li>
        <!-- {{#if alternate}}
          <li><a href="/alternateMap?name={{title}}&sort=sort_start">Start Time</a></li>
          <li><a href="/alternateMap?name={{title}}&sort=sort_end">End Time</a></li>
        {{else}} -->
          
        <!-- {{/if}} -->
        <!-- <li><a href="#">Location</a></li> -->
  		</ul>
  	</div>
        <a href="/viewMap?classname={{title}}"><button type="button" class="btn btn-default textBtn" id="viewMap" data.classname = "{{title}}">View Map</button></a>
   <!--  {{#if alternate}}
      <a href="/viewMap?classname={{title}}&alternate=true"><button type="button" class="btn btn-default textBtn" id="viewMap" data.classname = "{{title}}">View Map</button></a>
    {{else}} -->

    <!-- {{/if}} -->
  	<br>
    <br>


  	<div class="list-group">
      {{#if hasGroups}}
        {{#each data}}
          <a class="list-group-item" id="{{id}}" data-name="{{name}}" data-startTime="{{startTime}}" data-endTime="{{endTime}}" data-location="{{location}}">
            <div class = "heading-text-container nameContainer container{{_id}}">
              <h4 class="list-group-item-text">{{name}}</h4>
            </div>
            <div class="spacer extraInfo"> </div>
            <div class = "heading-text-container valueContainer">
              <h5 class="list-group-item-text">{{location}}</h5>
            </div>
            <span class="glyphicon glyphicon-unchecked checkBtn"></span>
            <div class='extraInfo' style='display:none'>Time: {{startTime}}-{{endTime}}</div>
            <div class='extraInfo' style ='display:none'>Location: {{location}}</div>
            <div class='extraInfo' style ='display:none; padding-bottom:10px' id="count{{_id}}" data-count="{{numMembers}}"># of People: {{numMembers}}</div>
            <!-- <hr class='extraInfo' style="display:none"> -->
            <button type="button" class="btn btn-default extraInfo join-leave-btn" data-belongs="{{belongsToGroup}}" style='display:none' id="join{{_id}}" groupid="{{_id}}">
            Join Group
          </button>
          </a> 
        {{/each}}

      {{else}}
        <h3>This class has no groups.</h3>
      {{/if}}
      </div>

      <div class="delete_div">
      <button type="button" class="btn-danger btn-lg delete_button" id="delete{{title}}" classname="{{title}}">Delete Course</button>
      </div>
      

	</div>
  // <script>
  //   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  //   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  //   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  //   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  //   ga('create', 'UA-48461831-2', 'study-buddies.herokuapp.com');
  //   ga('send', 'pageview');
  // </script>
    <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
  <script src="js/mapEvents.js"></script>
  <script src="js/course_events.js"></script>
  <script src="js/pushMenu.js"></script>
</body>
</html>
