<!doctype html>

<html>
<head>
	<title>Study Buddies</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <link href="css/general.css" rel="stylesheet">
  <link href="css/map.css" rel="stylesheet">    
  <link href="css/login.css" rel="stylesheet">
  <link href="css/home.css" rel="stylesheet">

</head>

<body class="cbp-spmenu-push cbp-spmenu-push-toleft">
  <div class="navbar navbar-inverse navbar-fixed-top container">
      <div class="navbar-header">
          <a class="navbar-brand">StudyNow</a>
      <section class="buttonset cbp-spmenu-open">
              <!-- Class "cbp-spmenu-open" gets applied to  menu and "cbp-spmenu-push-toleft" or "cbp-spmenu- push-toright" to the body -->
          <button type="button" class="btn btn-md" id="showRightPush">
        <span class="glyphicon glyphicon-tasks"></span>
      </button>
        </section>
      </div>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <h3 class="cbp-spmenu-open" id="closeRightPush">MyName?</h3>
        <a href="/home">Home</a>
        <a href="/mygroups">My Groups</a>
        <a href="/course_setup">Course Setup</a>
        <a href="/messages">Messages</a>
        <a href="#">Settings?</a>
        <a href="/logout">Logout</a>
    </nav>

  </div>


	<div class="container">

		<div>
      <h2 class="title">{{title}}</h2>
     <!--  <form id="postGroup" role="form">
        <input type="hidden" name="classname" value="{{title}}"> -->
        <a href="/post_group?classname={{title}}"><button type="button" class="btn btn-default createButton" id="createGroup" data.classname = "{{title}}">New Group</button></a>
     <!--  </form> -->
    </div>
    <br>
    <p class="orderLabel"> Order by: </p>
		<div class="btn-group">
  		<button type="button" class="btn btn-default dropdown-toggle" id="dropdownFilter" data-toggle="dropdown">
    	Start Time <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
        <li><a href="/map?name={{title}}&sort=sort_start">Start Time</a></li>
        <li><a href="/map?name={{title}}&sort=sort_end">End Time</a></li>
        <!-- <li><a href="#">Location</a></li> -->
  		</ul>
  	</div>
    <a href="/viewMap?classname={{title}}"><button type="button" class="btn btn-default createButton" id="viewMap" data.classname = "{{title}}">View Map</button></a>
  	<br>
    <br>


  	<div class="list-group">
      {{#each data}}
        <a class="list-group-item" id="{{id}}" data-name="{{name}}" data-startTime="{{startTime}}" data-endTime="{{endTime}}" data-location="{{location}}">
          <div class = "heading-text-container nameContainer container{{_id}}">
            <h4 class="list-group-item-text">{{name}}</h4>
          </div>
          <div class="spacer extraInfo"> </div>
          <div class = "heading-text-container valueContainer">
            <h5 class="list-group-item-text">{{location}}</h5>
          </div>
          <div class='extraInfo' style='display:none'>Time: {{startTime}}-{{endTime}}</div>
          <div class='extraInfo' style ='display:none'>Location: {{location}}</div>
          <div class='extraInfo' style ='display:none; padding-bottom:10px'># of People: {{numMembers}}</div>
          <!-- <hr class='extraInfo' style="display:none"> -->
          <button type="button" class="btn btn-default extraInfo" style='display:none' id="join{{_id}}"groupid="{{_id}}">
          Join Group
        </button>
        </a> 
       
       
      {{/each}}
    </div>
	</div>
    <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
  <script src="js/mapEvents.js"></script>

  <script src="js/pushMenu.js"></script>
</body>
</html>
