<!doctype html>

<html>
<head>
	<title>Study Buddies</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <link href="css/general.css" rel="stylesheet">
  <link href="css/map.css" rel="stylesheet">    
  <link href="css/login.css" rel="stylesheet">
  <link href="css/home.css" rel="stylesheet">

</head>

<body class="cbp-spmenu-push cbp-spmenu-push-toleft">
  
  {{> navbar this}}
	
  <div class="container">

		<div>
      <h2 class="title">{{title}}</h2>    
        <a href="/post_group?classname={{title}}"><button type="button" class="btn btn-success createButton" id="createGroup" data.classname = "{{title}}"><span class="glyphicon glyphicon-plus"></span></button></a>
     
        
     <!--  </form> -->
    </div>
    <br>
    <p class="orderLabel"> Order by: </p>
		<div class="btn-group">
  		<button type="button" class="btn btn-default dropdown-toggle" id="dropdownFilter" data-toggle="dropdown">
      {{#if sortByStart}}
    	  Start Time
      {{else}}
        End Time
      {{/if}}
      <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
        <li><a href="/map?name={{title}}&sort=sort_start">Start Time</a></li>
        <li><a href="/map?name={{title}}&sort=sort_end">End Time</a></li>
        <li><a href="/map?name={{title}}&sort=sort_distance" id="coordsURL">Distance</a></li>
  		</ul>
  	</div>
        <a href="/viewMap?classname={{title}}"><button type="button" class="btn btn-default textBtn" id="viewMap" data.classname = "{{title}}">View Map</button></a>
  	<br>
    <br>


  	<div class="list-group">
      {{#if hasGroups}}
        {{#each data}}
          <a class="list-group-item" id="{{id}}" data-name="{{name}}" data-startTime="{{startTime}}" data-endTime="{{endTime}}" data-location="{{location}}">
            <div class = "heading-text-container nameContainer container{{_id}}">
              <h4 class="list-group-item-text">{{name}}</h4>
            </div>
            <div class="spacer extraInfo"> </div>
            <div class = "heading-text-container valueContainer">
              <h5 class="list-group-item-text">{{location}}</h5>
            </div>
            <span class="glyphicon glyphicon-unchecked checkBtn"></span>
            <div class='extraInfo' style='display:none'>Time: {{startTime}}-{{endTime}}</div>
            <div class='extraInfo' style ='display:none'>Location: {{location}}</div>
            <div class='extraInfo' style ='display:none; padding-bottom:10px' id="count{{_id}}" data-count="{{numMembers}}"># of People: {{numMembers}}</div>
            <button type="button" class="btn btn-default extraInfo join-leave-btn" data-belongs="{{belongsToGroup}}" style='display:none' id="join{{_id}}" groupid="{{_id}}">
            Join Group
          </button>
          </a> 
        {{/each}}

      {{else}}
        <h3>This class has no groups.</h3>
      {{/if}}
      </div>

      <div class="delete_div">
      <button type="button" class="btn-danger btn-lg delete_button" id="delete{{title}}" classname="{{title}}">Delete Course</button>
      </div>
      

	</div>
  <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
  <script src="js/mapEvents.js"></script>
  <script src="js/course_events.js"></script>
  <script src="js/pushMenu.js"></script>
</body>
</html>
