<!doctype html>

<html>
<head>
    <title>Study Buddies</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/map.css" rel="stylesheet">
    <script type="text/javascript">

      if(("standalone" in window.navigator) && window.navigator.standalone){
      var noddy, remotes = false;
      document.addEventListener('click', function(event) {
      noddy = event.target;
      while(noddy.nodeName !== "A" && noddy.nodeName !== "HTML") {
        noddy = noddy.parentNode;
      }
      if('href' in noddy && noddy.href.indexOf('http') !== -1 && (noddy.href.indexOf(document.location.host) !== -1 || remotes))
      {
        event.preventDefault();
        document.location.href = noddy.href;
      }
      },false);
      }
      </script>
</head>

<body class="cbp-spmenu-push cbp-spmenu-push-toleft">
    
    {{> navbar this}}

    <div class="container">
        <div class="main">
            <div class="header">
              <h2>My Groups</h2>
              <input class="btn btn-primary btn-lg list-group-item addclass" style='display:none' type="submit" value="Add"/>
            </div>
            <hr>
            
            <div class="list-group">
                {{#if hasGroups}}
                    {{#each data}}
                      <a class="list-group-item" id="{{id}}" data-name="{{name}}" data-startTime="{{startTime}}" data-endTime="{{endTime}}" data-location="{{location}}">
                        <div class = "heading-text-container nameContainer container{{_id}}">
                          <h4 class="list-group-item-text">{{name}}</h4>
                        </div>
                        <div class="spacer extraInfo"> </div>
                        <div class = "heading-text-container valueContainer">
                          <h5 class="list-group-item-text">{{location}}</h5>
                        </div>

                        <div class='extraInfo' style='display:none'>Class: {{classname}}</div>
                        <div class='extraInfo' style='display:none'>Time: {{startTime}}-{{endTime}}</div>
                        <div class='extraInfo' style ='display:none'>Location: {{location}}</div>
                        <div class='extraInfo' style ='display:none; padding-bottom:10px' id="count{{_id}}" data-count="{{numMembers}}"># of People: {{numMembers}}</div>
                        <button type="button" class="btn btn-default extraInfo join-leave-btn" data-belongs="{{belongsToGroup}}" style='display:none' id="leave{{_id}}" groupid="{{_id}}">
                        Leave Group
                      </button>
                      </a> 
                    {{/each}}
                {{else}}
                    <h3>You have no groups.</h3>
                {{/if}}
            </div>

        </div>
    </div>

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/hci-friends.js"></script>
    <script src="js/pushMenu.js"></script>
    <script src="js/my_group_events.js"></script>
    
</body>
</html>
